/* MW Custom CSS */

.mw-couriers-choose, .mw-couriers-menu {
	border-radius:6px !important
}

.mw-couriers-menus {
    margin-top: 20px !important;
    border-top: 1px solid #E5E7EB;
    padding-top: 16px !important;
}

.mw-couriers-selected {
	border: 2px solid var(--color-primary,#224290) !important;
}

.mw-couriers-choose:nth-of-type(1){
	margin-top:0px !important;
}

#mw-shipping > .mw-couriers-choose:nth-of-type(3) {
    margin-top: 12px !important;
}

#mw-shipping {
    margin-bottom:0px !important
}

[data-role="addressWrapper"] + h3 {
	margin-top:24px !important;
}

[data-step="billing"] {
	margin-top:0px !important;
}

input[type="radio"] {
    accent-color: #224290 !important;
}

input[name="shippingAddress"]{
	margin-bottom:0px !important;
}

input[name="name"]{
	margin-bottom:12px !important;
}

/* MW CUSTOM CSS END */


/* === BASE & LAYOUT === */
.style-1 .checkout-info-inner {
  max-width: 100% !important;
}

[data-type="CheckoutWidget"] {
  min-height: 800px !important;
}

.checkout-summary {
  width: 100% !important;
}


/* === CHECKOUT INFO & CONTINUE BUTTON === */
.checkout-info input,
a[data-role="continue"],
[name="field0"] {
  border-radius: var(--border-radius) !important;
}

a[data-role="continue"] {
  display: flex !important;
  flex-direction: row-reverse !important;
  justify-content: center !important;
  gap: 12px;
  padding: 24px 16px !important;
}


/* === HEADERS & WEIGHTS === */
h3,
a[data-role="continue"] {
  font-weight: 600 !important;
  transform:none !important;
}

/* === FORM STEPS LAYOUT === */
[data-step="billing"] {
  margin-top: 8px !important;
  opacity: 1 !important;
}

[data-step="shipping"] section {
  margin: 0 !important;
}

[data-step="billing"] section {
  margin-bottom: 0px !important;
}

/* === ICON OVERRIDES === */
.fa-check:before {
  content: "\f058" !important;
}

[data-type="textarea"] {
  margin-top:16px !important;
}

/* === MEDIA QUERIES === */
@media only screen and (max-width: 768px) {
    
    .checkout-info {
      padding: 0px !important;
    }
  }