/* === BASE & LAYOUT === */
.style-1 .checkout-info-inner {
  max-width: 100% !important;
}

[data-type="CheckoutWidget"] {
  min-height: 800px !important;
}

.checkout-summary {
  width: 100% !important;
}

.address-title {
  margin-top: 24px !important;
}

/* === CHECKOUT INFO & CONTINUE BUTTON === */
.checkout-info input,
a[data-role="continue"] {
  border-radius: var(--border-radius) !important;
}

a[data-role="continue"] {
  display: flex !important;
  flex-direction: row-reverse !important;
  justify-content: center !important;
  gap: 12px;
  padding: 24px 16px !important;
}

/* === DELIVERY TYPE PICKER === */
[data-role="delivery-type-picker"] {
  flex-direction: row-reverse;
}

[data-role="delivery-type-picker"] .tick-wrapper {
  background: url("https://cdn.onecard.bg/speedy-logo-full.svg")
    no-repeat right 12px center / 74px auto;
  margin-bottom: 12px !important;
}

/* group bottom margins for name, city and tick-wrapper */
[name="name"],
[name="shippingCity"],
[data-role="delivery-type-picker"] .tick-wrapper {
  margin-bottom: 12px !important;
}

/* === TICK WRAPPER === */
.tick-wrapper:has(input:checked),
input:focus {
  border: 2px solid var(--accent-color);
}

.tick-wrapper > input:checked + span:before {
  background: var(--color-primary);
  border: 1px solid var(--color-primary);
}

/* === SHIPPING OPTION: SPEEDY OFFICE === */
[data-role="shipping-option-speedy-office"] {
  min-height: 122px;
}

[data-role="shipping-option-speedy-office"]:has(:not(.speedy)) {
  background-image: url("https://cdn.onecard.bg/loader.gif");
  background-size: 64px;
  background-repeat: no-repeat;
  background-position: center;
}

[data-role="shipping-option-speedy-office"]:has(.speedy) {
  background-image: none;
}

[data-role="shipping-option-speedy-office"] .col20 {
  display: flex;
  flex-direction: column;
}

[data-role="shipping-option-speedy-office"] .col20 > span {
  font-size: 14px;
  font-weight: 600;
  color: var(--color-primary);
  margin-bottom: 12px;
  line-height: 1.4;
}

/* === INPUT FIELDS & HIDE UNUSED === */
input[name="shippingZipCode"],
.pre-shipping-tax-wrapper,
[data-role="pickFromMap"],
[data-step="shipping"]:has([data-role="shipping-option-speedy-office"].none),
[data-step="shipping"] > section > h3,
[data-role="billing-info"],
.subtotal-wrapper.coupon-code-wrapper,
.promo-code-toggle-btn,
[data-role="shipping-option-speedy-office"] > span   {
  display: none !important;
}

input[name="shippingCity"],
input[name="shippingCompanyName"],
input[name="shippingAddress"] {
  width: 100% !important;
}

/* === CASH ON DELIVERY BORDER === */
label[data-payment="cod"] {
  border: 1px solid #e1e1e1 !important;
}

/* === SUBTOTAL & GRAND TOTAL === */
.subtotal-wrapper {
  justify-content: space-between;
}

.subtotal-wrapper.grand-total-wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.grand-total {
  display: flex;
}

.checkout-old-price,
.old-grand-total {
  color: red;
}

/* === HEADERS & WEIGHTS === */
h3,
a[data-role="continue"] {
  font-weight: 600 !important;
  transform:none !important;
}

/* === FORM STEPS LAYOUT === */
[data-step="billing"] {
  margin-top: 8px !important;
  opacity: 1 !important;
}

[data-step="shipping"] section {
  margin: 0 !important;
}

[data-role="shipping-option-speedy-office"],
[data-step="billing"] section {
  margin-bottom: 0px !important;
}

/* === UTILITY CLASSES === */
.ml-10,
.mt-15 {
  margin-left: 0px !important;
  margin-top: 0px !important;
}

.ml-10 {
  margin-right: 16px;
}

/* === ICON OVERRIDES === */
.fa-check:before {
  content: "\f058" !important;
}

/* === MEDIA QUERIES === */
@media only screen and (max-width: 768px) {
  [data-role="delivery-type-picker"] {
    flex-direction: column-reverse !important;
  }

  .checkout-info {
    padding: 0px !important;
  }
}

[data-type="Spacer"] > .widget-preserving-ratio-outer {
  padding-bottom:16px !important;
}

[data-type="textarea"]:has([name="field0"]) {
  margin-top:12px !important;
}

[name="field0"] {
  border-radius: 6px !important;
}

[name="email"] {
  margin-top:12px !important;
}

[data-role="address-part"] {
  display: flex;
  flex-direction: column-reverse;
}